<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/ico/favicon.png">

    <title>ZedSofts</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

	<script src="../static/js/Chart.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.zedsofts.net">ZedS<i class="fa fa-circle"></i>fts</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
           {% include "navigation.html" %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>CONTACT US</h1>
				<p>WE WILL SOLVE YOUR REQUIREMENTS</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	


	<!-- CONTACT FORM SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
<p>We are available 24/7, so don't hesitate to contact us.</p>
				<h4>WRITE TO US</h4>
                <h4><a href="mailto:support@zedsofts.net">support@zedsofts.net</a></h4>
	{#			<br>
				

    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
		<div class="row">
			<label for="name">Your name:</label><br />
			<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
		</div>
		<div class="row">
			<label for="email">Your email:</label><br />
			<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
		</div>
		<div class="row">
			<label for="message">Your message:</label><br />
			<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
		</div>
<br>
		<input type="hidden" name="action" value="submit"/>
		<input id="submit_button" type="submit" value="Send email" />
	</form>	#}
				
				
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->



	
	
	
	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
<p><b><u>Share Us On</u></b></p>
        {% include 'footer.html' %}
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
